.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.505);
    height: 100vh;
    width: 100%;
    z-index: 8;
}    

.modal {
    position: fixed;
    top: 35vh;
    left: 10%;
    width: 80%;
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;

    
    /* padding: 1rem; */
}

.modal h2 {
    background-color: #FD2D01;
    padding: 2rem;
    color: white;
}

.modal p {
    font-size: 3rem;
    padding: 2rem;
}

.modal Button {
    background-color: #4E5166;
    padding: 1rem 2rem;

}

@media(min-width: 600px){
    .modal{
        width: 50rem;
        left: calc(50% - 25rem);
    }
}