.connection-form {
    border: solid 2px #FD2D01;
    border-radius: 15px;
    box-shadow: 3px 5px 15px 1px rgba(0,0,0,0.84);
    text-align: center;
    margin: 5rem auto;
    padding: 2rem;
    width: 80%;
    max-width: 50rem;
    position: relative;
    /* height: 30rem; */
}

.form-container {
    display: flex;
    justify-content: space-between;
    
}

.form-container ul {
    margin-top: 0.3rem;
    padding-right: 0.5rem;
}

.formModal {
    flex: 2;
}

.authButton {
    margin: 2.5rem auto;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 15px;
    border: solid 1px white;
    cursor: pointer; 
    color: white;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.523);
    transition: all .2s ease-in-out;
}

.authButton:hover {
    background-color: #FFD7D7;
    color: #4E5166;
    transform: scale(1.1); 
}

.activeAuthButton {
    background-color: #FFD7D7;
    color: #4E5166;
    margin: 1rem auto;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 15px;
    border: solid 1px white;
    cursor: pointer; 
}