.card-container {
    border: solid 2px #FD2D01;
    border-radius: 15px;
    box-shadow: 3px 5px 15px 1px rgba(0,0,0,0.84);
    padding: 16px;
    margin: 30px auto;
    width: 80%;
    min-height: 10rem;
    max-width: 85rem;
    min-width: 27rem;
    position: relative;
    display: flex;
}

@media only screen and (max-width: 663px){ 
    .card-container {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .newPost-container {
        margin-top: 1.5rem;
        padding: 0;
        /* width: 100%; */
        min-width: 23rem;
    }

    
}

.fas  {
    color: white;
    font-size: x-large;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 48%;
}

.card-left {
    /* border: solid 2px black; */
    height: 70px;
    width: 70px;
    border-radius: 25px;
}

.card-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
    border: solid 1px white;
    box-shadow: 3px 5px 15px 1px rgba(0,0,0,0.84);
}

.card-right {
    flex: 2;
    padding-left: 2rem;
}

@media only screen and (max-width: 663px){ 
    .card-right {
        padding-left: 0;
    }
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.pseudo {
    color: white;
    font-size: medium;
    /* margin-left: 2rem; */
}

.date-post {
    color: gray;
    font-size: 1.2rem;
}

.post-container {
    border: solid 1px white;
    border-radius: 15px;
    box-shadow: 3px 5px 15px 1px rgba(0,0,0,0.84);
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 8rem;
    background-color:  #ffd7d7da;
    padding: 0.5rem;
}

@media only screen and (max-width: 663px){ 
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .post-container {
        margin-top: 1.5rem;
        padding: 0;
        min-width: 23rem;
    }

    .date-post {
        margin-top: 0.6rem;
        color: white;
    }

    
}

.post-container p {
    padding: 1rem;
    font-size: 1.4rem;

}

.card-picture-post {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: solid 1px white;
    box-shadow: 3px 5px 15px 1px rgba(0,0,0,0.84);
    border-radius: 17px;
    margin-bottom: 1.5rem;
    
}

.card-footer {
    display: flex;
    position:relative;
    align-items: center;
}
.card-like {
    flex: 2;
    display: flex;
    /* justify-content: center;   */
}


.card-like span {
    color: white;
    font-size: 1.4rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.button-card {
    display: flex;
}

.button-card i {
    margin-left: 1.3rem;
}

.card-footer i {
    color: white;
    /* color: #4E5166; */
    font-size: 2.2rem;
    /* margin-left: 1.5rem; */
    cursor: pointer;
    padding: 0.6rem;
    /* background-color: #ffd7d7da; */
    border: solid 1px white;
    border-radius: 25px;
    box-shadow: 3px 5px 10px  rgba(0,0,0,0.84);
}

#icon-like {
    color: green;
}

.btn-send button {
    border-radius: 15px;
    border: solid 1px white;
    padding: 0.3rem;
    box-shadow: 3px 5px 10px  rgba(0,0,0,0.84);
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.upload-picture-post {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    justify-content: center;
    align-items: center;
}

/* .upload-picture-post input  {
    border-radius: 15px;
    border: solid 1px white;
    padding: 0.3rem;
    box-shadow: 3px 5px 10px  rgba(0,0,0,0.84);
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    background: white;
}

.upload-picture-post label {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}
*/


#form input {
    margin: 1rem 1rem;
    font-size: 1.5rem;
    /* width: 22rem; */
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 15px;
    border: solid 1px white;
    cursor: pointer; 
    color: white;
    background-color: #4E5166;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.523);
}  

#form input:hover {
    background-color: #FFD7D7;
    color: #4E5166;
}

#form label {
    /* display: block; */
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}


