.auth {
    border: solid 2px #FD2D01;
    border-radius: 15px;
    box-shadow: 3px 5px 15px 5px rgba(0,0,0,0.84);
    text-align: center;
    margin: 5rem auto;
    padding: 2rem;
    width: 80%;
    max-width: 50rem;
}

.control {
    margin-bottom: 1rem;
}

.control label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.control input {
    font: inherit;
    font-size: 1.5rem;
    background-color: #FFD7D7;
    width: 70%;
    padding: 0.2rem;
    border-radius: 5px;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

